:host,
.pizza {
  display: inline-block;
  width: 225px;
  height: 203px;
  position: relative;
}

.pizza {
  height: 159px;
}

.pizza-base {

}

.pizza-topping {
  
}

.pizza img {
  position: absolute;
  top: 0;
  left: 0;
}

.pizza-text {
  font-family: cornerstone;
  color: #333;
  font-size: 22px;
  text-align: center;
}

.pizza-text > img {
  cursor: pointer;
  height: 18px;
}

.pizza {
  cursor: pointer;
}