$green: rgb(15, 150, 117);

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow-y: hidden;
}

.products-list {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  margin: 22px;
  position: relative;
  overflow-y: auto;
  flex-wrap: wrap;
  max-height: 406px;
}

.products-list > app-product-pizza-display-component {
  margin-right: 22px
}

.action {
  margin-top: 22px;
  margin-left: 22px;
  button {
    cursor: pointer;
    height: 22px;
    border: 0;
    background-color: darken($green, 15%);
    border-radius: 4px;
    font-family: cornerstone;
    font-size: 12px;
    color: white;
  }
  button:hover {
    background-color: $green;
  }
}